body {
    background-image: url("kevin-clyde-berbano-owUsLvu4HQ0-unsplash.jpg");
}

body {
    color: white;
    text-align: center;
}
 title {
    font-family: verdana;
    font-size: 50px;
}
body {
    align-items: center;

}